# Core functionality - changes here should be rare!
/src/app.py                   @anupsharma555
/src/backend/database.py      @anupsharma555
/src/backend/routers/auth.py  @anupsharma555

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anupsharma555
